h3
{
    color: black;
}



a {
  text-decoration: none;
  color: inherit;
}

body{
  background: #141415;
  color: #ebecea;
  font-family: "CircularStd", sans-serif;
}

#intro-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    transform: scale(0.8);

  }

  #box-intro {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
    filter: brightness(0.95);
    position: relative;
    background-color: black;
  }

  .container
{
  padding-left: 0;
  padding-right: 0;
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70.25%;
  }
  .yt-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.h-30 {
    height: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #ebecea;
  font-family: "Termina", sans-serif;
}

footer
{
  background-color: black;
}

.resume{
  width: 50%;
  margin: auto;
}

.resume h1 {
  text-align: center;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
}

.resume a
{
  color: #1d1d74;
  text-decoration: underline;
}