html{

}

header{
    background-color: black;
    color: #fff;
    width: 100%;
 
    
}

nav{
    background-color: beige;
    width:100%;
    display: table;
    margin: 0 auto;
    text-align: center;
}

nav li{
    
    display:inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
}

.Intro{
    background: url("../Images/Background.jpg")  no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
 
}


.Intro h1{
    text-align: center;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

body .aboutMe h1{
    text-align: center;
} 

body .aboutMe img{
    display: inline;
    width: 25%;
}
body{
   
}

footer{

}
